.list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.user-card {
  width: 100%; /* ocupa toda la fila */
  max-width: 1200px; /* opcional para no ser demasiado ancho en pantallas grandes */
  margin: 0 auto; /* centra la card horizontalmente */
}
